.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.text-input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.image-input {
  margin-top: 10px;
}

.background-container {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row; /* Imposta il layout a riga */
  align-items: flex-start; /* Allinea i figli a sinistra */
}

.image-title-container {
  max-width: 50%; /* Occupa la metà del container */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra i figli orizzontalmente */
}

.image-title-container img {
  width: 100%; /* Rendi l'immagine larga quanto il suo contenitore */
  height: auto;
  margin-bottom: 10px;
}

.image-title-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000; /* Nero */
}

.info-container {
  max-width: 50%; /* Occupa la metà del container */
  padding: 20px;
  color: #000000; /* Nero */
}

.preview-container p {
  margin-bottom: 10px;
}

.attributes {
  display: flex;
  flex-direction: column;
}

.attributes div {
  margin-bottom: 10px;
}

.attributes strong {
  font-size: 16px;
  font-weight: bold;
}

.attributes p {
  font-size: 14px;
  margin: 0;
}
