.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #000000; /* Cambiato a nero per il testo della preview */
}

.background-container {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
}

.text-input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.image-input {
  margin-top: 10px;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.image-title-container {
  max-width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-title-container img {
  width: 100%;
  max-width: 100%; /* Imposta un'ampiezza massima del 100% */
  height: auto;
  margin-bottom: 10px;
}

.image-title-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-container {
  max-width: 50%;
  padding: 20px;
}

.preview-container p {
  margin-bottom: 10px;
}

.attributes {
  display: flex;
  flex-direction: column;
}

.attributes div {
  margin-bottom: 10px;
}

.attributes strong {
  font-size: 16px;
  font-weight: bold;
}

.attributes p {
  font-size: 14px;
  margin: 0;
}
