/* Stile per la pagina FourthPage */
.fourth-page {
  padding: 2rem;
  background-color: #f5f5f5;
  text-align: center; /* Aggiunto per centrare il contenuto */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* Stile per le schede dei personaggi */
.character-card {
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  background-image: url('./assets/background.png'); /* Sfondo per ogni scheda */
  background-size: cover; /* Assicurati che l'immagine copra l'intera scheda */
  background-position: center; /* Centra l'immagine di sfondo */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-width: 300px; /* Larghezza massima per le schede */
  width: 100%; /* Le schede si adattano al contenitore */
  overflow: hidden; /* Previeni il disordine se l'immagine è troppo grande */
  color: #111; /* Colore del testo scuro vicino al nero */
  position: relative; /* Permette posizionamento assoluto per gli pseudo-elementi o i figli */
  text-align: left; /* Allinea il testo a sinistra */
}

.character-card label {
  display: block; /* Utilizza display block per etichette */
  margin-bottom: 0.5rem;
}

.character-card input,
.character-card textarea {
  margin: 0; /* Rimuovi margini per preciso controllo della disposizione */
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.25rem;
}

/* Stile per i pulsanti */
button {
  background-color: #004d99;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0073e6;
}

/* Stili per i dispositivi mobili e i media query */
@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }

  .characters-container {
    flex-direction: column;
  }

  .character-card {
    max-width: none;
    margin: 0 auto;
  }

  .character-card input,
  .character-card textarea {
    width: auto; /* Per dispositivi mobili, prendi l'intera larghezza */
  }
}

/* Aggiunte per la griglia delle statistiche */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* crea tre colonne */
  gap: 10px; /* spazio tra le celle della griglia */
  align-items: end; /* Allinea i campi di input alla parte inferiore */
  padding-right: 1rem; /* Aggiunge spazio a destra all'interno della card */
}

.stat {
  display: flex;
  flex-direction: column; /* posiziona label sopra l'input */
}

.stat label {
  font-size: 0.8em; /* riduce la dimensione del font per le etichette */
  margin-bottom: 1px;
  margin-left: 35%;/* spazio tra l'etichetta e l'input */
}

.stat input {
  padding: 0.5em; /* padding interno per l'input */
  text-align: center; /* allinea il testo al centro */
  width: 100%; /* l'input si espande per occupare tutto lo spazio disponibile */
}

@media (max-width: 600px) {
  .stats-grid {
    grid-template-columns: 1fr; /* una colonna per schermi più piccoli */
    padding-right: 0; /* Rimuovi il padding a destra su schermi piccoli */
  }

  .stat input {
    width: 100%; /* gli input si espandono per prendere l'intera larghezza disponibile */
  }
}
