.hamburger-menu {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  outline: none;
}

.hamburger-line {
  background-color: #000; /* Cambia questo colore a seconda delle tue preferenze */
  height: 2px;
  width: 100%;
}
