/* Style for the button container */
.button-container {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for buttons and custom file upload */
.button-container button,
.custom-file-upload {
  background-color: #004d99;
  color: white; /* White text color for buttons */
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Style for button hover */
.button-container button:hover,
.custom-file-upload:hover {
  background-color: #0073e6;
}

/* Style for the table container */
.table-container {
  margin: 2rem;
  overflow-x: auto;
}

/* Style for the table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0.375rem 1.125rem 0 rgba(0, 0, 0, 0.2);
}

/* Style for table headers */
.table-container th {
  background-color: #004d99;
  color: white; /* White text color for table headers */
  padding: 0.5rem;
  text-align: left;
}

/* Style for table cells */
.table-container td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
  color: #111; /* Very dark gray text color inside table cells */
}

/* Style for alternating table rows */
.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for error message */
.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.fancy-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.fancy-label {
  margin-right: 8px;
  font-weight: bold;
}

.fancy-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.plus-button {
  background-color: #007bff; /* Un blu simile a quello degli altri pulsanti */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */
  padding: 10px 15px; /* Spaziatura interna */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore in una mano quando passi sopra */
  border-radius: 5px; /* Angoli arrotondati */
  margin-left: 10px; /* Margine a sinistra per distanziarlo dal select */
  outline: none; /* Rimuove il contorno quando il pulsante è selezionato */
}

.plus-button:hover {
  background-color: #0056b3; /* Un blu leggermente più scuro per l'hover */
}




.select-box {
  padding: 0.625rem 2.5rem 0.625rem 1rem; /* Padding superiore/inferiore e destro/sinistro */
  border: 1px solid #007bff; /* Colore del bordo */
  border-radius: 0.5rem; /* Angoli arrotondati */
  background-color: white; /* Colore di sfondo */
  font-size: 1rem; /* Dimensione del testo */
  cursor: pointer; /* Cursor */
  position: relative; /* Per posizionamento assoluto di pseudo-elementi o figli */
  transition: border-color 0.3s; /* Transizione fluida per il bordo */
}

.select-box:hover {
  border-color: #0056b3; /* Colore del bordo al passaggio del mouse */
}

.select-box:focus {
  border-color: #004085; /* Colore del bordo al focus */
  outline: none; /* Rimuove il contorno di focus predefinito */
}

