/* Style for the button container */
.button-container {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for buttons and custom file upload */
.button-container button,
.custom-file-upload {
  background-color: #004d99;
  color: white; /* White text color for buttons */
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Style for button hover */
.button-container button:hover,
.custom-file-upload:hover {
  background-color: #0073e6;
}

/* Style for the table container */
.table-container {
  margin: 2rem;
  overflow-x: auto;
}

/* Style for the table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0.375rem 1.125rem 0 rgba(0, 0, 0, 0.2);
}

/* Style for table headers */
.table-container th {
  background-color: #004d99;
  color: white; /* White text color for table headers */
  padding: 0.5rem;
  text-align: left;
}

/* Style for table cells */
.table-container td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
  color: #111; /* Very dark gray text color inside table cells */
}

/* Style for alternating table rows */
.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for error message */
.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.fancy-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.fancy-label {
  margin-right: 8px;
  font-weight: bold;
}

.fancy-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
